<section class="wrappy">

  <% if flash[:receipt] == @order.payment_info.buyer_name %>
  <%= render partial: 'table', locals: {hidden: "not-hidden"} %>
  <% else %>
  <%= render partial: 'table', locals: {hidden: "hidden"} %>
  <% end %>
</section>
