<h2>Your Cart</h2>

<ul>
  <% @order.order_products.each do |order_product| %>
    <li>
      <%= order_product.product.name %>
    </li>
  <% end %>
</ul>
<p>
  Order <%= @order.id %>
</p>
<p>
  Status: <%= @order.status %>
</p>


<%= link_to "Back to All Orders", orders_path, class:'button'%>
