/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/

html, body, main, header, h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
}
.background {
  background-image: url(33.jpeg);
  height: 100vh;
  /*background-position: top;
  background-repeat: repeat;
  height: 700px;*/
}

.menu {
  background-color: white;
}

.rand {
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(219, 238, 241, 0.85);
  padding-left: 10px;
}
.randpad {
  background-color: rgba(219, 238, 241, 0.85);
  margin-left: 5px;
  margin-bottom: 10px;
  height: 200px;
  width: 200px;
}
.randpad-home {
  background-color: rgba(219, 238, 241, 0.85);
  margin-left: 5px;
  margin-bottom: 10px;
  height: 200px;
  width: 200px;
}
.columns:last-child:not(:first-child) {
  float: left;
}
.heading:hover a {
  color:rgb(53, 163, 187);
}
.heading a {
  font-size: 1.6em;
  color: white;
}


/***********/
/*  MAIN  */
/***********/
.button {
  background-color: rgba(245, 193, 151, 0.92);
}
.button:hover {
  background-color: rgba(245, 151, 230, 0.92);
}

.button-link{
  color: rgb(17, 185, 190);
  font-size: 20px;
}
.button-link:hover{
  color:rgb(43, 80, 82);
}

.button-link a{
  color: rgb(17, 185, 190);
  font-size: 20px;
}
.button-link a:hover{
  color:rgb(43, 80, 82);
}
.good {
  color: rgb(20, 17, 83);
}
p {
  margin-bottom: 1px;
  padding-top: 10px;
  text-align: center
}
p a:hover{
  color:rgb(17, 185, 190);
}
.title {

}
h1 {
  color: rgb(20, 17, 83);
  text-align: center;
}
h3 {
  text-align: center;
}
a {
  color: rgb(66, 83, 92);
}
body {
  color: rgb(84, 87, 107);
}
.wrap {
  width: 90%;
  margin: 0 auto;
  max-width: 700px;
}
/***********/
/*  STARS  */
/***********/

.zero-stars, .zero-stars a{
  color: lightgrey;
}

.one-star, .one-star a{
  color: #cc0000;
}

.two-stars, .two-stars a{
  color: #ff8533;
}

.three-stars, .three-stars a{
  color: #ffcc00;
}

.four-stars, .four-stars a{
  color: #99db70;
}

.five-stars, .five-stars a{
  color: #33AC33;
}
.float-right {
  padding-top: 30px;
}
/***********/
/*  DROPDOWN  */
/***********/
.button a {
  color: white;
}
.dropdown {
  position: relative;
  display: inline-block;
  /*width: 100px;*/
  padding: 3% 6%;
  font-size: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: 15px;
}
.dropdown-content a {
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.category {
  border-bottom: solid;
}
.spooky {
  margin-top: 90px;
}
.spooky-home {
  margin-top: 20px;
  font-size: 3em;

}

.add {
  margin-left: 40%;
}

.buy {
  background-color: rgb(141, 114, 215);
}
main {

  padding-bottom: 50px;
}
.product {
  font-weight: bold;
  padding-top: 30px;
  /*width: 800px;*/
  border-style: solid;
  background-image: url(33.jpeg);
  background-size: cover;
  /*background-repeat: no-repeat;*/
  padding-bottom: 100px;
  padding-left: 30px;
}
.product-index {
  font-weight: bold;
  padding-top: 30px;
  /*width: 800px;*/
  border-style: solid;
  background-image: url(33.jpeg);
  background-size: cover;
  /*background-repeat: no-repeat;*/
  padding-bottom: 100px;
  padding-left: 30px;
}
.product-index a {
  color: rgb(213, 38, 148);
}

/*.product a {
  color: rgb(213, 117, 38);
}*/
.product-image {
  padding-bottom: 10px;
  padding-left: 10px;
  max-width: 200px;
  height: 100px;
}
.product-image img {
  max-height: 100px;
}
.spotlight {
  font-weight: bold;
  text-align: center;
  border-style: solid;
  padding-bottom: 30px;
  background-image: url(33.jpeg);
}
.first-item a{
  font-size: 1.5em;
}
.playing {
  border-style: solid;
  max-width: 200px;
  height: 300px;
}
