// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cat-image img {
  height: 200px;
  width: 200px
  // max-height: 200px;
}
.category {
  margin-top: 20px;
}
