<main class="wrap">
<h2 class="category"> <%= @category.name %></h2>
<section>
<% @category.products.not_retired.each do |prod| %>

<p><%= link_to prod.name.capitalize, product_path(prod.id) %></p>
<p>$<%= '%.2f' % prod.price %></p>
<p class="image"><%= image_tag "#{prod.photo_url}", alt:"image", size: "100x100"%></p>
<% end %>
</section>
</main>
