<h1>Index page for Products! ALL OF the 3's!</h1>

<h2>Categories:</h2>
<% @products.each do |product| %>
<div class="product" >
  <p><%= link_to product.name, product_path(product.id) %></p>
  <p>Price: $<%= '%.2f' % product.price %></p>
  <p><%= product.description %></p>
</div>
<% end %>

<%= link_to "Add a Product", new_product_path, class: "button" %>
